<!DOCTYPE html>
<html>
    <header>
        <h1>List member in mygroup</h1>
    </header>
    <body>
          <main>
            <ul>
              <li> MSSV: <%= Id %>   name: <%= Name %></li>
            </ul>
          </main>
    </body>
</html>